@font-face {
  font-family: 'IRANSansWeb';
   font-weight: normal;
   font-style: normal;
  src: local('IRANSansWeb Regular'), local('IRANSansWeb-Regular'), url('IRANSansWeb_Regular.woff') format('woff');
  
    unicode-range: U+00-FFFF;
}